.item {
    border-top: 1px solid var(--primary-color);
    text-decoration: none;
}

.item span {
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: var(--extra-font);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.item:hover span {
    color: var(--accent-color);
}

.remove-btn {
    display: none;
    background: transparent;
    border: none;
    font-size: 30px;
    translate: 0 10%;
}

.item:hover .remove-btn {
    display: block;
}

.remove-btn:hover {
    color: var(--accent-color);
    outline: none   ;
}

.inactive > a {
    pointer-events: none;
}