.container {
        width: 420px;
    
}

.title {
        color: var(--accent-color);
        font-weight: 700;
        font-size: 36px;
        line-height: 120%;
}

.description {
    margin-top: 18px;
}

.label {
        margin: 18px 0 8px 0;
}

.spacer {
        height: 24px;
}

.submitted {

    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    color: var(--accent-color);
}