.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background:rgba(23, 23, 23, 0.81);
    z-index: 1000;
}

.visible {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    background-color: #262628;
    width:fit-content;
}