.button {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 4px 24px 0px 24px;
    height: 40px;
    border-radius: 30px;
    background-color: var(--accent-color);

    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    color: var(--primary-color);
    border: none;
}

.button:hover {
    background-color: #BE3B10;
}

.button:focus {
    background-color: #BE3B10;
    outline: none;
}

.button:disabled {
    opacity: 0.5;
}