.container {
    display: flex;
    position: relative;
    box-sizing: content-box;
    top: 105px;
}

.orbit-container {
    --background-size: 532px;
    --background-offset: calc((var(--background-size) - 446px) / 2);

    position: absolute;
    top: var(--background-offset);
    left: calc(557px + var(--background-offset));

}

.orbit{
    width: 446px;
    height: 446px;
    border-radius:50%;
    background: transparent;
    position: relative;
    z-index: 0;

    box-shadow:
      inset 0 0 0 31px #1e1e20, /*отсчет от окружности радиусом 446рх вовнутрь*/
      inset 0 0 0 33px #323232,
      inset 0 0 0 40px #1e1e20,
      inset 0 0 0 42px #323232,
      inset 0 0 0 65px #1e1e20;
      pointer-events: none;
}

.orbit::before {
    position: absolute;
    top: calc(-1 * var(--background-offset));
    left: calc(-1 * var(--background-offset));
    
    height: var(--background-size);
    width: var(--background-size);
    z-index: -1;
    
    content: "";
    border-radius: inherit;
    background: radial-gradient(
        transparent 0,
        transparent 243px,
        #1e1e20 263px);
    pointer-events: none;
}

.main-text-container {
    position: relative;
    flex: 0 0 1007px; /*фиксируем ширину под флексбокс*/
}

.main-text {
    --plant: url(/src/assets/plant.png);
    --plant-position: 663px 0px;
    --text-padding: 63px;

    
    height: 322px;
    background-image: var(--plant);
    background-repeat: no-repeat;
    background-position: var(--plant-position);
    position: relative;
    padding-top: var(--text-padding);
    z-index: 99;

    font-family: var(--main-font);
    font-style: normal;
    font-weight: 700;
    font-size: 120px;
    line-height: 120px;
    color: var(--primary-text-color);
    -webkit-text-stroke: 1px var(--primary-text-color); /*иначе шрифт не соответсвует макетному*/
    
}

.main-text::after {
    top: 0;
    left: 0;
    padding-top: var(--text-padding);
    position: absolute;
    z-index: 100;

    content: attr(data-text-mask);
    -webkit-mask: var(--plant) no-repeat var(--plant-position);
    color: var(--secondary-text-color);
    -webkit-text-stroke: 2px var(--secondary-text-color);
    pointer-events: none;
}

.main-text > .inverted {
    color: var(--background-color);
}

.description-text {
    flex: 0 0 421px;
    margin-top: 14px;

    font-family: var(--extra-font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: var(--primary-text-color);
}