@font-face{
    font-family: 'Bebas Neue';
    src: url('assets/fonts/BebasNeueBold700.otf');
    font-weight: 700;    
    font-style: normal;
}

@font-face{
    font-family: 'Bebas Neue';
    src: url('assets/fonts/BebasNeueRegular400.ttf') format("truetype");
    font-weight: 400;    
    font-style: normal;
}

@font-face {
	font-family: 'AvenirNextCyr-Regular';
	src: url('assets/fonts/avenirnextcyr-regular.eot'); /* IE 9 Compatibility Mode */
	src: url('assets/fonts/avenirnextcyr-regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('assets/fonts/avenirnextcyr-regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('assets/fonts/avenirnextcyr-regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('assets/fonts/avenirnextcyr-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('assets/fonts/avenirnextcyr-regular.svg#avenirnextcyr-regular') format('svg'); /* Chrome < 4, Legacy iOS */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root {
    padding: 0 64px 0 64px;
    min-width: 1440px;
    --main-font: "Bebas Neue" ;
    --extra-font: "AvenirNextCyr-Regular";
    --primary-text-color: #fff;
    --secondary-text-color: #E75626;
    --background-color: #171719;

    display: flex;
    justify-content:flex-start center;
    align-items: center;
    flex-wrap: wrap;

    background-color: var(--background-color);
    
}